<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><generator uri="https://jekyllrb.com/" version="4.2.1">Jekyll</generator><link href="https://linuxtus.com/feed/web.xml" rel="self" type="application/atom+xml"/><link href="https://linuxtus.com/" rel="alternate" type="text/html"/><updated>2022-10-01T20:49:15+07:00</updated><id>https://linuxtus.com/feed/web.xml</id><title type="html">LinuxTus | Web</title><subtitle>Where to share IT Blog</subtitle><author><name>tgbao2703</name></author></feed>